*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: #2D25A0;
padding: 20px;
width: 100%;
}
/* NAV SECTION.....HERE */
nav{
    display: flex;
    justify-content: flex-end;
    }
    .fas{
        color: white;
    }
    nav a{
        text-decoration: none;
        color: white;
        font-size: 16px;
        padding: 10px 20px ; 
    }
    
    /* top right section here.............. */
    .top-section{
        display: flex;
        margin-top: 100px;
        margin-left: 100px;
    }
  
    .column h1{
        color: white;
        font-size: 50px;
    }
    .column a{
        text-decoration: none;
        color: white;    
    }
    .anchor{
        background-color: #c5135a;
        padding: 10px 24px;
    width: 168px;
    height: 44px;
    display: flex;
    margin-right: 0;
    color:white;
    font-size: 16px;
    margin-top: 50px;
    border-radius: 5px;
    }
    .anchor:hover{
background-color: black;
color: black;
    }


    .right-arrow{
        margin-left: 8px;
display: flex;
justify-content: center;
align-items: center;
    }
    .column img{
        width: 556.01px;
    height: 438px;
    margin-left:120px;
    transition: width;
    }
    .column img:hover{
        width:600px;
        height: 500px ;
    }
    /* second section starts here.......... */
    .player-part{
        width: 1050px;
        margin-top: 100px;
        margin-right: 210px;
    }
    .player-frame{
        border: 1px solid grey;
        background-color: white;
        padding: 16px;
      
        border-radius: 16px;
        box-shadow: 2px 2px 40px gray;    
    }
    .players{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 27px 30px;
        margin: 0 180px;
        align-items: center;
    }
    .player img{
        border-radius: 10px;
        width: 100%;
        height: 256px;
        overflow: hidden;
    }
    .player img:hover{
        transform: scale(1.1);
        transition: transform 1s ease ;
    }
    .player-details{
        border-radius: 10px;
        width: 300px;
        height: 154px;
        padding: 5px;
    }
    .player-detail h2{
        font-size: 28px;
    }
/* about kick section starts  here */
.about-section{
    background-color: gray;
    display: grid;
    grid-template-columns: 600px 400px;
    padding-top: 100px;
padding-left:150px ;
margin-top: 15px;
}
.about-section h1{
    font-size: 2rem;
    margin-bottom: 10px;
   
}
.about-section p{
color: rgb(153, 72, 72);
}
.row1{
    display: grid;
    grid-template-columns: 250px 250px;
    grid-gap :80px; ;
    margin-top: 50px;
}
.col1{
    margin-bottom: 50px;
}
/* match galary start here */
.galary-title{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 80px;
}
.match-galary{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   grid-gap: 10px;
    margin-top:50px ;
    padding:10px 80px ;
}
.match-galary img{
    height: 200px;
    width: 300px;
}
/* footer starts here */
footer{
    text-align: center;
    margin-top: 80px;
}
footer img{
    width: 483.87px;
height: 110px;
}
.social-menu ul{
    display: flex;
justify-content: center;
}
.social-menu ul li {
    margin: 10px;
    list-style: none;
}
.fab{
    font-size: 20px;
    color: #969BAB;
}
/*  responsive... for small devices........... */
@media only screen and (max-width: 688px) {
    .menu{
        flex-direction: column;
    }
    .menu a{
        background-color: rosybrown;
        color: black;
        margin: 10px 0; 
        text-align: center;
    }
   .top-section{
 flex-direction: column;
 display: block;
 width: 100%;
   }
   .column img{
       width: 100%;
       margin: 0;
       padding: 0; 
   }
    /*players section responsive............. */
    .player-part{
        width: 100%;
    }
     .players{
         grid-template-columns: repeat(1, 1fr);
         margin: 0;
         padding: 0;
         align-items: center;
     }
    /* about  section responsive...... */
   .about-section{
    flex-direction: column;
    margin-left: -50px;
    display: block;
    width: 100%;
    background-color: darkgray;
   }
   .about-section-image{
    width: 50%;
    height: 40%;
    margin-left: -200px;
    padding: 0; 
   }
/* match galary responsiveness. */
     .match-galary{
         flex-direction: column;
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 15px;
        width: 300px ;
     }
    footer img{
        width: 383.87px;
    height: 110px;
    }
}
/* for tablet design */

@media only screen and (min-width: 688px) and (max-width: 992px) {
    .menu{
        flex-direction: column;
    }
    .menu a{
        background-color: rosybrown;
        color: black;
        margin: 10px 0; 
        text-align: center;
    }
   .top-section{
 flex-direction: column;

 display: block;
 width: 100%;
   }
   .column img{
       width: 100%;
       margin: 0;
       padding: 0; 
   }
    /*card design  responsive............. */
    .player-part{
        width: 100%;
    }
     .players{
         grid-template-columns: repeat(2, 1fr);
         margin: 0;
         padding: 0;
         align-items: center;
     }
    /* about kick section responsive...... */
   .about-section{
    flex-direction: column;
    margin-left: -50px;
    display: block;
    width: 100%;
    background-color: darkgray;
   }
   .about-section-image{
    width: 50%;
    height: 40%;
    margin-left: -200px;
    padding: 0; 
   }
/* match galary responsiveness. */
     .match-galary{
         flex-direction: column;
        grid-template-columns: repeat(2,1fr);
        margin-bottom: 15px;
        width: 300px ;
        align-items: center;
     }
    footer img{
        width: 383.87px;
    height: 110px;
    }
}
